._form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
    &__button {
        border-radius: 4px;
        background-color: $primary;
        height: 40px;
        border: 0;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include tran;
        &:hover {
            background-color: darken($primary, 10);
        }
    }
    &__error {
        color: #f20;
        font-size: 12px;
        margin-top: 10px;
    }
    &__field {
        width: calc(33.333% - 20px);
        margin: 0 10px 30px;
        position: relative;
        @include max-screen($grid-sm) {
            width: calc(50% - 20px);
        }
        &--mobile-full {
            @include max-screen($grid-sm) {
                width: 100%;
            }
        }
        label {
            color: $text-light-1;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 7px;
            display: block;
            @include tran;
        }
        input, .v-select .dropdown-toggle {
            border: 1px solid #dcdcdc;
            border-bottom-width: 2px;
            font-size: 12px;
            font-weight: 400;
            height: 40px;
            width: 100%;
            display: block;
            padding: 0 10px;
            line-height: normal;
            color: $text-dark-2;
            z-index: 2;
            position: relative;
            background-color: transparent;
            border-radius: 0;
            @include tran;
            &:hover {
                border-bottom-color: $primary;
            }
            &:focus {
                border-bottom-color: $text-dark-2;
                & + label {
                    transform: translateY(-100%);
                    top: -7px;
                }
            }
        }
        &--label-placeholder {
            margin-top: 15px;
            margin-bottom: 15px;
            label {
                transform: translateY(-50%);
                z-index: 1;
                position: absolute;
                top: 20px;
                left: 0;
                padding: 0 10px;
            }
        }
        &--label-fish {
            margin-top: 15px;
        }
        &--full {
            width: 100%;
        }
        &--filled {
            label {
                transform: translateY(-100%);
                top: -7px;
            }
        }
        .v-select {
            width: 100%;
            position: relative;
            .form-control {
                height: 38px!important;
                line-height: normal!important;
                padding: 0!important;
                margin: 0!important;
                border: 0!important;
            }
            &.open .dropdown-toggle {
                border-bottom-color: $text-dark-2!important;
            }
            .dropdown-toggle {
                padding: 0 10px!important;
            }
            .vs__selected-options {
                padding: 0 !important;
                height: 100% !important;
            }
            .selected-tag {
                margin: 0 !important;
                padding: 0 !important;
                height: 38px !important;
            }
            .vs__actions {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                .clear {
                    display: none !important;
                }
                .open-indicator {
                    &:before {
                        display: none;
                    }
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 6px 0 6px;
                        border-color: #000000 transparent transparent transparent;
                    }
                }
            }
            .dropdown-menu {
                border-radius: 0!important;
                border-color: #dcdcdc!important;
                box-shadow: none!important;
                li {
                    a {
                        background-color: transparent!important;
                        color: $text-light-1!important;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 1.5;
                        padding: 10px;
                    }
                    &:hover a {
                        color: $text-dark!important;
                    }
                    &.active a {
                        color: $primary!important;
                    }
                }
            }
            // important hell because this component uses in this form and will not be modified
        }
    }
}