h1, .h1,
h2, .h2 {
    color: $dark;
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}
h2, .h2 {
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 10px;
    border-left: 3px solid $text-light-2;
    padding-top: 2px;
    margin: 0;
}