// colors

$primary: #c4092f;
$text-light-1: #999;
$text-dark: #000;
$text-light-2: #8b9497;
$text-dark-1: #323232;
$text-dark-2: #111;
$dark: #282d30;

// adaptive breakpoints
$grid-l: 1240px;
$grid-lm: 1140px;
$grid-ls: 992px;
$grid-sl: 720px;
$grid-sm: 480px;
$grid-s: 320px;


@mixin tran() {
    transition: .2s;
}

@mixin max-screen($max) {
    @media screen and (max-width: $max) {
        @content;
    }
}

@mixin min-screen($min) {
    @media screen and (min-width: $min + 1px) {
        @content;
    }
}

