body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
}

body * {
    box-sizing: inherit;
    &:before, &:after {
        box-sizing: inherit;
    }
    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
}