<template>
    <div class="cars">
        <div class="layout">
            <h1>¡Ay caramba!</h1>
            <CarForm/>
            <CarList/>
        </div>
    </div>
</template>

<style scoped lang="scss">
    .cars {
        padding-top: 60px;
        @include max-screen($grid-sl) {
            padding-top: 30px;
        }
        h1 {
            margin-bottom: 55px;
            text-align: center;
            width: 100%;
            @include max-screen($grid-sl) {
                margin-bottom: 20px;
            }
        }
        .car-form {
            margin-bottom: 50px;
            @include max-screen($grid-sl) {
                margin-bottom: 20px;
            }
        }
    }
</style>
<script>
    import CarForm from '@/components/CarForm';
    import CarList from '@/components/CarList';

    export default {
        name: 'home',
        components: {
            CarForm,
            CarList
        }
    }
</script>
