<template>
    <form class="car-form _form" @submit.prevent="saveItem">
        <CustomInput
                v-model="title"
            :data="{type:'text', label: 'Название', modify: 'mobile-full', validator: validator.title}"
        ></CustomInput>
        <CustomInput
                v-model='year'
            :data="{ type:'text', label: 'Год', validator: validator.year}"
        ></CustomInput>
        <CustomInput
                v-model='price'
            :data="{type:'text', label: 'Цена', validator: validator.price}"
        ></CustomInput>
        <CustomInput
                v-model='description'
            :data="{type:'text', label: 'Описание', modify: 'full', validator: validator.description}"
        ></CustomInput>
        <div class="_form__field _form__field--mobile-full">
            <label>Цвет</label>
            <div class="car-form__colors">
                <span
                        v-for="color in colors"
                        :style="{backgroundColor: color.hex}"
                        :class="[ color.name === selectedColor ? 'active' : '' ]"
                        @click="selectColor(color.name)"
                ></span>
            </div>
            <span class="_form__error" v-if="validator.color">Заполните это поле</span>
        </div>
        <div class="_form__field _form__field--label-fish">
            <VueSelect v-model="status"
                       :options="options"
                       :searchable="false"
                       :placeholder="'Статус'"
                       :filterable="false"
            ></VueSelect>
            <span class="_form__error" v-if="validator.status">Заполните это поле</span>
        </div>
        <div class="_form__field _form__field--label-fish">
            <button class="_form__button">Отправить</button>
        </div>
    </form>
</template>

<script>
    import CustomInput from '@/components/ui/CustomInput';
    import store from '@/store';
    import VueSelect from 'vue-select';

    export default {
        name: "CarForm",
        data() {
            return {
                title: '',
                year: '',
                price: '',
                description: '',
                selectedColor: 'white',
                status: false,
                options: [
                    {id: 'in_stock', label: 'В наличии'},
                    {id: 'pednding', label: 'Ожидается'},
                    {id: 'out_of_stock', label: 'Нет в наличии'},
                ],
                colors: {
                    white: {
                        name: 'white',
                        hex: '#fff'
                    },
                    grey: {
                        name: 'grey',
                        hex: '#cbcbcc'
                    },
                    black: {
                        name: 'black',
                        hex: '#000'
                    },
                    red: {
                        name: 'red',
                        hex: '#d74345'
                    },
                    green: {
                        name: 'green',
                        hex: '#88c504'
                    }
                },
                validator: {
                    description: false,
                    title: false,
                    price: false,
                    status: false,
                    year: false,
                    color: false,
                }
            }
        },
        components: {
            CustomInput,
            VueSelect
        },
        methods: {
            selectColor(color) {
                this.selectedColor = color;
            },
            validate(computed) {
                let errors = 0;
                for (let item in computed) {
                    if (computed.hasOwnProperty(item)) {
                        if (!computed[item]) {
                            this.validator[item] = true;
                            errors++;
                        } else {
                            this.validator[item] = false;
                        }
                    }
                }
                return errors;
            },
            saveItem() {
                const data = {
                    title: this.title,
                    year: parseInt(this.year),
                    price: parseInt(this.price),
                    description: this.description,
                    color: this.selectedColor,
                    status: this.status.id
                };
                if (this.validate(data) === 0) {
                    this.title = '';
                    this.year = '';
                    this.price = '';
                    this.description = '';
                    this.color = 'white';
                    this.status = false;
                    store.commit({
                        type: 'cars/addCar',
                        item: data
                    });
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .car-form {
        &__colors {
            display: flex;
            align-items: center;
            margin-top: 12px;
            span {
                border: 1px solid #ddd;
                background-color: #fff;
                width: 21px;
                height: 21px;
                border-radius: 50%;
                cursor: pointer;
                margin-right: 20px;
                @include max-screen($grid-sl) {
                    margin-right: 8px;
                }
                @include max-screen($grid-sm) {
                    margin-right: 20px;
                }
                &:last-child {
                    margin-right: 0;
                }
                @include tran;
                &.active {
                    border-color: $primary;
                    box-shadow: 0 0 0 3px $primary;
                }
            }
        }
    }
</style>