<template>
    <div class="car-list">
        <h2>Автомобили в наличии</h2>
        <template v-if="!isMobile">
            <div class="car-table" v-if="cars.length > 0">
                <div class="car-table__head">
                    <div class="car-table__cell">Название</div>
                    <div class="car-table__cell">Год</div>
                    <div class="car-table__cell">Цвет</div>
                    <div class="car-table__cell">Статус</div>
                    <div class="car-table__cell">Цена</div>
                    <div class="car-table__cell"></div>
                </div>
                <div class="car-table__row" v-for="car in cars" :key="car.id">
                    <div class="car-table__cell">
                        {{ car.title }}
                        <small v-if="car.description">{{ car.description }}</small>
                    </div>
                    <div class="car-table__cell">{{ car.year }}</div>
                    <div class="car-table__cell"><i class="car-table__color" :style="{ backgroundColor: colors[car.color]}"></i></div>
                    <div class="car-table__cell">{{ statuses[car.status] }}</div>
                    <div class="car-table__cell">{{ priceFormat(car.price) }}</div>
                    <div class="car-table__cell">
                        <span class="car-table__delete" @click="deleteCar(car.id)">Удалить</span>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="car-dock">
                <div class="car-item" v-for="car in cars" :key="car.id">
                    <div class="car-item__field">
                        <div class="car-item__title">
                            {{ car.title }}
                        </div>
                    </div>
                    <div class="car-item__field car-item__field--right">
                        <div class="car-item__color">
                            <i class="car-table__color" :style="{ backgroundColor: colors[car.color]}"></i>
                        </div>
                        <div class="car-item__price">{{ priceFormat(car.price) }}</div>
                    </div>
                    <div class="car-item__field car-item__field--full" v-if="car.description">
                        <div class="car-item__description">
                            {{ car.description }}
                        </div>
                    </div>


                    <div class="car-item__field">
                        <div class="car-item__year">{{ car.year }}</div>
                        <div class="car-item__status">{{ statuses[car.status] }}</div>
                    </div>


                    <div class="car-item__field car-item__field--right">
                        <div class="car-item__delete" @click="deleteCar(car.id)">Удалить</div>
                    </div>


                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import store from '@/store'

    export default {
        name: "CarList",
        data() {
            return {
                isMobile: window.innerWidth <= 720,
                statuses: {
                    'pednding': 'Ожидается',
                    'out_of_stock': 'Нет в наличии',
                    'in_stock': 'В наличии'
                },
                colors: {
                    white: '#fff',
                    grey: '#cbcbcc',
                    black: '#000',
                    red: '#d74345',
                    green: '#88c504'
                }
            }
        },
        computed: {
            cars() {
                return store.getters['cars/list']
            },
        },
        mounted() {
            store.dispatch('cars/carsInit');
            window.addEventListener('resize', () => {
                this.isMobile = window.innerWidth <= 720;
            })
        },
        methods: {
            priceFormat(price, n, x) {
                const re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
                return price.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$& ') + ' руб.';
            },
            deleteCar(id) {
                store.commit({
                    type: 'cars/deleteCar',
                    id: id
                });
            }
        },
    }
</script>

<style scoped lang="scss">
    .car-list {
        margin-bottom: 60px;
        width: 100%;
        @include max-screen($grid-sl) {
            margin-bottom: 0;
        }
        h2 {
            width: 100%;
            margin-bottom: 30px;
            @include max-screen($grid-sl) {
                display: none;
            }
        }
    }
    .car-table {
        display: table;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
        &__delete {
            cursor: pointer;
            color: $text-light-2;
            font-size: 14px;
            font-weight: 300;
            height: 30px;
            padding: 0 10px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -6px;
            @include tran;
            &:hover {
                background-color: $dark;
                color: #fff;;
            }
        }
        &__cell {
            display: table-cell;
            padding: 15px;
            max-width: 360px;
            vertical-align: top;
            @include max-screen($grid-ls) {
                max-width: 250px;
                padding: 15px 8px;
            }
        }
        &__color {
            border: 1px solid #ddd;
            background-color: #fff;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }
        &__head {
            display: table-row;
            background-color: $primary;
            .car-table__cell {
                color: #fff;
                font-size: 15px;
                font-weight: 500;
            }
        }
        &__row {
            display: table-row;
            background-color: #f5f6f6;
            .car-table__cell {
                border-bottom: 1px solid #e6e9ea;
                color: $text-dark-1;
                font-size: 15px;
                font-weight: 300;
                small {
                    color: $text-light-2;
                    font-size: 13px;
                    font-weight: 300;
                    display: block;
                    margin-top: 8px;
                }
            }
            &:last-child {
                .car-table__cell {
                    border-bottom: 0;
                }
            }
        }
    }
    .car-dock {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
        background-color: #f5f6f6;
        border-top: 1px solid #e2e3e3;
    }
    .car-item {
        padding: 10px 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #e2e3e3;
        &:last-child {
            border-bottom: 0;
        }
        &__field {
            width: 49%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            color: $dark;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 8px;
            margin-top: 8px;
            &--right {
                justify-content: flex-end;
            }
            &--full {
                width: 100%;
            }
        }
        &__description {
            color: $text-light-2;
            font-size: 13px;
            font-weight: 300;
        }
        &__delete {
            cursor: pointer;
            font-size: 14px;
            font-weight: 300;
            height: 30px;
            padding: 0 10px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $dark;
            color: #fff;
            margin-top: -6px;
        }
        &__price {
            margin-left: 5px;
            align-self: center;
            min-width: 100px;
            text-align: right;
        }
        &__status {
            margin-left: 20px;
        }
    }
</style>