<template>
    <header class="header">
        <a href="#" class="header__logo">
            <img src="@/assets/logo.png">
        </a>
    </header>
</template>

<script>
    export default {
        name: "CustomHeader"
    }
</script>

<style scoped lang="scss">
    .header {
        background-color: $dark;
        display: flex;
        justify-content: center;
        &__logo {
            transform: translateY(10px);
            opacity: 1;
            @include tran;
            &:hover {
                transform: translateY(14px);
            }
        }
    }
</style>