<template>
    <footer class="footer">
        <div>© 2015 CAPTAIN QUACK</div>
        <div>Десница тысячелетия и моллюск!</div>
    </footer>
</template>

<script>
    export default {
        name: "CustomFooter"
    }
</script>

<style scoped lang="scss">
    .footer {
        padding: 43px 10px 36px;
        text-align: center;
        background-color: $dark;
        color: #fff;
        font-size: 11px;
        font-weight: 300;
    }
</style>