<template>
    <div id="app">
        <CustomHeader/>
        <main>
            <Home/>
        </main>
        <CustomFooter/>
    </div>
</template>

<script>
    import CustomHeader from '@/components/CustomHeader';
    import CustomFooter from '@/components/CustomFooter';
    import Home from '@/views/Home';

    export default {
        components: {
            Home,
            CustomHeader,
            CustomFooter
        }
    }
</script>

<style lang="scss">
    @import "styles/main";
</style>
