<template>
    <div class="_form__field _form__field--label-placeholder"
         :class="[
            labelShow ? '_form__field--filled' : '',
            data.modify ? '_form__field--' + data.modify : ''
         ]"
    >
        <input
                :value="value"
                @input="$emit('input', $event.target.value)"
                :type="data.type">
        <label>{{ data.label }}</label>
        <span class="_form__error" v-if="data.validator">Заполните это поле</span>
    </div>
</template>

<script>
    export default {
        name: "CustomInput",
        props: {
            value: {
                type: String,
            },
            data: {
                type: Object
            }
        },
        computed: {
            labelShow() {
                return this.value.length > 0;
            },
        },
    }
</script>

<style scoped>

</style>